<div class="panel panel-default">
    <div class="panel-heading">
        Create New Contact
    </div>

    <div class="panel-body">

        <form>
            <div class="row form-group">
                <div class="col-xs-4">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name" ng-model="contact.firstName">
                </div>

                <div class="col-xs-4">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name" ng-model="contact.lastName">
                </div>

                <div class="col-xs-4">
                    <label for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" placeholder="Enter nickname" ng-model="contact.nickname">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <a ng-click="saveContact()" class="btn btn-small btn-primary">Create</a>
                </div>
            </div>

        </form>

    </div>
</div>
