
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Contacts <a class="btn btn-primary pull-right" href="#/contacts/new"><i class="fa fa-plus"></i> Add New</a></h3>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in contacts">
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>jkulba@gmail.com</td>
                    <td><div ng-repeat="phone in contact.phoneList | filter:{ preferred: true }"/>{{phone.phoneNum}}</td>
                    <td>
                        <div class="pull-right">
                            <a ng-click="editContact(contact.id)" class="btn btn-small btn-primary"><i class="fa fa-pencil-square-o"></i> edit</a>
                            <a ng-click="deleteContact(contact.id)" class="btn btn-small btn-danger"><i class="fa fa-times"></i></i> delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
