
<div class="panel panel-default">
    <div class="panel-heading">
        Contact Search Results
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in contacts">
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>jkulba@gmail.com</td>
                    <td><div ng-repeat="phone in contact.phoneList | filter:{ preferred: true }"/>{{phone.phoneNum}}</td>
                    <td>
                        <div class="pull-right">
                            <a class="btn btn-info" href="#contacts/{{contact.id}}">
                                <i class="fa fa-pencil fa-fw"></i> Edit
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
